.contain-head {
    background-color: #fffbf0;
}

nav img {
    width: 40%;
}

.section-head {
    border: none;
    background-color: #fffbf0;
}

.btn-cl {
    background-color: #a4bc46;
    color: #fffbf0;
}